.wrapper {
  width: 100%;
  align-items: center;
  margin:4px;
  display: flex;
  background-color: rgb(240, 240, 240);

  font-family: "Noto Sans";
  font-weight: 500;
  font-size: 1.2em;

}

.title {
  width: 50%;
  color: #12383b;
}

.button {
  position: relative;
  display: inline-block;
  width: 80px;
  height: 40px;
  margin:2px;
}

.selector {
  position: relative;
  display: inline-block;
  width: 160px;
  height: 40px;
  margin:2px;

}

.blink {
  animation: 1s ease-out normal both;
  animation-name: redcolor;

}

@keyframes redcolor {
  from {background-color: red;}
  to {background-color: '';}
}
