* {
    margin: 0;
    padding: 0;
    overflow:hidden;
  }

main {
  font-family: "Noto Sans";
  font-variant: small-caps;

  width: 1280px;
  height: 720px;

  text-align: center;
  background-color: rgba(75, 75, 0, 0);

  border: 1px solid red;
}

.wrapper {
  width: 40%;
  
  display: inline-block;
  border: 1px solid red;
}

.veil {
  position: relative;
  height: 35px;

  color: #EBEBEB;
  margin:2px;
}

.bkgr {
  position: absolute;
  height: 100%;
  width: 100%;

  background-color: rgba(235, 235, 235, 0.8);
}

.text{
  position: absolute;
  height: 100%;

  color: rgba(18, 56, 59, 1);
  font-weight: regular;
  font-size: 1.5em;

  display:table-cell;
  vertical-align: middle;
}

.numb{
  position: absolute;
  height: 100%;

  color: rgba(18, 56, 59, 1);
  font-weight: regular;
  font-size: 1.5em;

  display:table-cell;
  vertical-align: middle;

  right:0;
}


.bkgr-0, .text-0, .numb-0 {
  transform: translate3d(0, -100%, 0);
}

/* ANIM 1 ------------------------------------------------------------------- */

@keyframes bkgr-1 {
  0% {
    transform: translate3d(0, -100%, 0);
  }
  30% {
    transform: translate3d(0, -100%, 0);
  }
  60% {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes text-1 {
  0% {
    transform: translate3d(0, -100%, 0);
  }
  50% {
    transform: translate3d(0, -100%, 0);
  }
  80% {
    transform: translate3d(0, 0, 0);
  }
}

.bkgr-1 {
 
  animation: 1s ease-out normal both;
  animation-name: bkgr-1;
  /*
  transition: transform .5s cubic-bezier(0.42, 0, 0.15, 3);
  transform: translate3d(0, 0, 0);
  */
}

.text-1 {
  animation: 1s ease-out normal both;
  animation-name: text-1;
}

.numb-1 {
  animation: 1s ease-out normal both;
  animation-name: text-1;
}

/* ANIM 2 ------------------------------------------------------------------- */

@keyframes bkgr-2 {
  0% {
    transform: translate3d(-100%, -100%, 0);
  }
  30% {
    transform: translate3d(-100%, -100%, 0);
  }
  60% {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes text-2 {
  0% {
    transform: translate3d(-100%, 0, 0);
  }
  50% {
    transform: translate3d(-100%, 0, 0);
  }
  80% {
    transform: translate3d(0, 0, 0);
  }
}


.bkgr-2 {
  animation: 1s ease-in reverse both;
  animation-name: bkgr-2;
}

.text-2 {
  animation: 1s ease-in reverse both;
  animation-name: text-2;
}

.numb-2 {
  animation: 1s ease-in reverse both;
  animation-name: bkgr-2;
}
